---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CRUD en IndexedDB">
  <form
    id="add-task"
    class="flex w-full justify-center items-center gap-2 my-4"
  >
    <input
      type="text"
      autocomplete="tarea"
      placeholder="Comprar leche..."
      class="border-2 border-gray-300 rounded-xl p-2 w-1/2"
      id="task"
    />
    <button
      class="bg-blue-600 text-white hover:bg-blue-800 py-2 px-4 rounded-xl font-bold"
    >
      Agregar tarea
    </button>
  </form>
  <table id="tasks" class="mx-auto my-4 rounded border w-full"></table>
  <div class="flex w-full justify-center items-center">
    <button
      id="reset"
      class="bg-red-600 text-white hover:bg-red-800 py-2 px-4 rounded-xl"
    >
      Reiniciar DB
    </button>
  </div>
</Layout>

<script src="../scripts/index"></script>
